* {
	margin: 0;
	padding: 0;
}
th {
	background: rgb(175,205,231);
	color: white;
}
.one {
	padding-left: 15px; 
	color: white;
	background-color: rgb(175,205,231);
	text-align: left;
}
.one, .two {
	width: 100px;
	height: 42px;
}

.two {
	background: rgb(216,230,243);
	font-size: 14px;
	text-align: center;
}