*
{
	margin: 0;
	padding: 0;
}

.fullwrap {
	width: 600px;
	height: 450px;
	min-width: 600px;
	min-height: 450px;
	margin: auto;
	padding: 4px;
	position: relative;
    border: 4px solid #3366ff;
}
.boxs {
	width: 36px;
	height: 36px;
	position: relative;
	background: #3366ff;
}

.text {
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-size: 36px;
	font-weight: bold;
}

.box1 {
    top: -150px;
    left: 10px;
}

.box2 {
    top: -140px;
    left: 50px;
}

.box3 {
    top: -95px;
    left: 150px;
}

.box4 {
    top: -228px;
    left: 310px;
}

.box5 {
    top: -160px;
    left: 490px;
}

.text1 {
    top: 60px;
    left: 55px;
}
.text2 {
    top: 60px;
    left: 95px;
}
.text3 {
    top: 105px;
    left: 60px;
}
.text4 {
    top: -27px;
    left: 254px;
    z-index: 1;
}
.text5 {
    top: 20px;
    left: 466px;
    z-index: 1;
}
.line1 {
    position: absolute;
    top: 20px;
    left: 33%;
    border-left: 1px solid #3366ff;
    width: 0px;
    height: 380px;
}
.line2 {
    position: absolute;
    top: 20px;
    right: 33%;
    border-left: 1px solid #3366ff;
    width: 0px;
    height: 380px;
}